{% extends 'API/home.html' %}

{% block content %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<form method="POST" action="">
				{% csrf_token %}
				<div class="form-group clearfix">
					<p></p>
					<label class="col-md-4 control-label text-right">Username<span class="text-red"></span>:</label>
					<span class="input-group-text"><i class="fas fa-user"></i></span>
					<div class="col-md-6">
						<input type="text" name="username">
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-md-4 control-label text-right">Password<span class="text-red"></span>:</label>
					<span class="input-group-text"><i class="fas fa-key"></i></span>
					<div class="col-md-6">
						<input type="password" name="password">
					</div>
					<div class="col-md-6 col-md-offset-4">
						<p></p>
						<input class="btn login_btn" type="submit" value="Login">
					</div>
				</div>
			</form>
			{% for message in messages %}
			<p id="messages"> <b> {{message}} </b> </p>
			{% endfor %}
			<div class="mt-4">
				<div class="d-flex justify-content-center links">
					Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}